
<hr>   
  <h6><strong>Commentor</strong> : <%= comment.user.email %>  </h6>
  <h6><strong>Comment</strong> : <%= comment.description %></h6><br>
  <p id="comment_btn">	<%= link_to 'Like', '#' %> | <%= link_to 'Dislike', '#' %> | <%= link_to 'Edit', '#' %> </p>
  
 


