<center><div class="card bg-light" style="width: 70rem;">
  <div class="card-body">
    <h3 class="card-title float-left">
      <strong>
        <%= @post.title %>
      </strong>
    </h3><br><br>
    <p class="float-left"><%= time_ago_in_words(@post.created_at) %> ago</p>
    <br>
    <p class="card-text float-left">
      <strong>
        <%= @post.description %>
      </strong>
    </p>	<br>
    <div class="text-sm-left">
      <p id='comment_btn' class="text-primary" >
        <%= link_to 'Like', user_post_like_path(current_user, @post), method: :put, :class => "text-primary", remote: true %> 
        <%= @post.get_upvotes.size %> |
        <%= link_to 'Dislike', user_post_dislike_path(current_user, @post), method: :put,:class => "text-primary", remote: true %>
        <%=@post.get_downvotes.size %> <hr>
      </p>
      <br> 
      <br><%= render  @post.comments %>
      <center class="float-left">
        <%= render 'comments/form', locals: @comment = @post.comments.build %>
      </center>
    </div>
  </div>
</div></center>